@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #202632;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;

  #root {
    display: flex;
    justify-content: center;
    align-items: center;

    .App {
      background: #313b47;
      color: #cee2e9;
      border-radius: 10px;
      width: 60%;
      text-align: center;
      padding: 5rem;
      position: relative;

      .advice {
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        margin-bottom: 2rem;
        color: #53ffa9;
      }

      .quote-text {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        margin-bottom: 2.5rem;
        text-wrap: balance;
      }

      .divider::before,
      .divider::after {
        position: relative;
        border-top: 1px solid #cee2e9;
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        margin-bottom: 0.15em;
        overflow: hidden;
        content: "";
      }
      .divider::before {
        right: 0.5em;
        margin-left: -50%;
      }

      .divider::after {
        left: 0.5em;
        margin-right: -50%;
      }
      .lines {
        font-size: 1rem;
        font-weight: 900;
        color: #cee2e9;
      }

      .button-container {
        position: absolute;
        bottom: -35px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        gap: 20px;

        button {
          background-color: #53ffa9;
          border: none;
          padding: 16px;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 64px;
          height: 64px;
          font-size: 24px;
          color: #313b47;
          transition: 0.3s;

          &:hover {
            background-color: #3ab376;
          }
        }
      }
    }

    .ToastContainer {
      margin-top: 20px;
    }
  }
}
